@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Changa', sans-serif;
  /* background-color: #222222; */
}

/* .main-layer {
  background-image: radial-gradient(#4e4feb 2px, transparent 2px);
  background-size: 54px 54px;
  min-height: 100vh;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ecf8f9;
}

::-webkit-scrollbar-thumb {
  background-color: #4e4feb;
}
